/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  text-align: center;
  font-family: 'Calibri';

}

h1 {
  font-size: 3rem;
  margin: 0;
  margin-top: 1rem;
  font-family: 'Carattere', cursive;
  text-shadow: 1px 1px 2px darkgreen, 0 0 1em seagreen, 0 0 0.2em green;
  letter-spacing: .25em;
}

/* h2 {
  background: lightgreen;
  color: darkgreen;
  text-decoration: underline;
  padding: 2px 10px; ;
  margin: 0 auto;
  margin-top: .5em;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  width: max-content;
} */

h4 {
  color: green;
  margin-top: 0;
}


/******************************************
/* LAYOUT
/*******************************************/
/* header {

}

footer {

} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.stepsHeader{
  color: green;
  font-size: 1.5em;
  background: lightgreen;
  padding: 5px 10px 0 10px;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  margin: 5px auto 0 auto;
  width: max-content;
}
.stepsTotal {
  font-weight: bold;
  letter-spacing: .05em;
}

#stepsBreakdown{
  background: lightgreen;
  width: max-content;
  text-align: center;
  margin: 0px auto;
  padding: 10px 20px;
  border-radius: 1em;
}

table{
  border: 1px solid black;
  border-collapse:collapse;
}
thead {
  background: lightgray;
  border-bottom: 1px black solid;
}
td {
  text-align: center;
  border-bottom: 1px dotted black
}
tr:nth-child(7) {
  border-bottom: 2px black solid;
}
tr:nth-child(18) {
  border-bottom: 2px black solid;
}
.tblCol1{
  font-weight: bold;
  background: lightgray;
  border-right: 1px black solid;
}
.tblCol6 {
  font-weight: bold;
  border-left: 1px black solid;
}

input{
  text-align: center;
}

.metTarget{
  color: black;
  background: green;
}

#dates{
  line-height: 2;
}
.underDev{
  background: rgb(238, 153, 153);
  width: max-content;
  padding:0px 10px;
  margin: 0px auto;
}

/* The switch - the box around the slider */
.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
}

/* Hide default HTML checkbox */
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 5px;
  top: 8px;
  background-color: lightgreen;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

.hdrHidden {
  display: none;
}