/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  text-align: center;
}

newTable{
  bor
}
/******************************************
/* LAYOUT
/*******************************************/
/* header {

}

footer {

} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

span {
  font-weight: bold;
}

#stepsBreakdown{
  background: lightgoldenrodyellow;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

table{
  border: 1px solid black;
  border-collapse:collapse;
}
thead {
  background: lightgray;
  border-bottom: 1px black solid;
}
td{
  text-align: center;
}

tr:nth-child(7) {
  border-bottom: 1px black solid;
}
tr:nth-child(18) {
  border-bottom: 1px black solid;
}

