/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  text-align: center;
  font-family: 'Calibri';
}

#pageDiv{
  display: grid;
  grid-template-columns: 250px 3fr 2fr;
  column-gap: 2rem;
}

#pageLeft{
  margin-left: 5px;
  padding-left: 5px;
  line-height: 1.5em;
}
#pageMain{
  text-align: left;
}
#pageRight{
  text-align: left;
}

h1 {
  text-align: left;
  font-size: 4rem;
  margin: 0;
  margin-top: 1rem;
  font-family: 'Carattere', cursive;
  text-shadow: 1px 1px 2px darkgreen, 0 0 1em seagreen, 0 0 0.2em green;
  letter-spacing: .25em;
}

h4 {
  color: green;
  margin-top: 0;
}


/******************************************
/* LAYOUT
/*******************************************/
/* header {

}

footer {

} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#navLinks{
  margin-bottom: 5px;
  border-bottom: dotted 1px green;
}
#selections {
  line-height: 2em;
}
button {
  height: 27px;
}
.bigButton{
  width: 71px;
}
input {
  width: 150px
}
#stepsContainer{
  margin-left: 2rem;
  width: 500px;
}
#stepsHeader{
  text-align: center;
  color: green;
  font-size: 1.5em;
  background: lightgreen;
  padding: 5px 10px 0 10px;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  margin: 5px auto 0 auto;
  width: max-content;
}
.stepsTotal {
  font-weight: bold;
  letter-spacing: .05em;
}

#stepsBreakdown{
  background: lightgreen;
  width: max-content;
  margin: 0px auto;
  padding: 10px 20px;
  border-radius: 1em;
}

table{
  border: 2px solid black;
  border-collapse:collapse;
}

th{
  background: lightgray;
  border-bottom: 2px black solid;
  text-align: center;
  width: 75px;
}
td {
  text-align: center;
  border-bottom: .25px solid black;
}
tr:nth-child(7), tr:nth-child(18) {
  border-bottom: 2px black solid;
}
tr:nth-last-of-type(1){
  border-bottom: 2px black solid;
}
.tblCol1,.tblCol6 {
  font-weight: bold;
  border-left: 2px black solid;
  border-right: 2px black solid;
}

input{
  text-align: center;
}

.metTarget{
  color: black;
  background: green;
}
.underDev{
  background: rgb(238, 153, 153);
  width: max-content;
  padding:0px 10px;
  margin: 0px auto;
}

.tglOptions {
  margin-left: 35px;
}
/* The switch - the box around the slider */
.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
}

/* Hide default HTML checkbox */
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: -1px;
  top: 8px;
  background-color: lightgreen;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.hdrHidden {
  display: none;
}
.selectedBackground {
  background-color: lightgreen;
  border-radius: 50%;
}
.tempBorder{
  border: 1px dashed blue;
}
.leftAlign{
  text-align: left;
}
span.fas{
  font-size: 4rem;
  margin-left: 5px;
  margin-top: 1rem;
  padding-left: 5px;
  text-shadow: 1px 1px 2px darkgreen, 0 0 1em seagreen, 0 0 0.2em green;
  letter-spacing: .25em;
}
